html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    line-height: 1.6;
    font-size: 18px;
    color: #ff5050;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.ar {
    font-family: "Tajawal", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Gudea", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
